<header>
  <h1><%= title %></h1>
    <p>
      Page Name: <%= contextTitle %>
    </p>
</header>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/newsfeed">News Feed</a></li>
  <li><a href="/albumfeed">Album Feed</a></li>
</ul>