<header>
  <h1><%= title %></h1>
    <p>
      Welcome to
      <% if (contextTitle) { %>
      <h2><%= contextTitle %></h2>
      <% else { %>
      <h2><%= title %></h2>
      <% } %>
    </p>
</header>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/users">Users</a></li>
</ul>